
@{
    ViewBag.Title = "Bio";
}

<h2 style="text-align:center">My Bio-Data</h2>

<fieldset>
    <legend>Bio-data:</legend>
    <b>First Name:</b> @ViewBag.FirstName <br>
    <b>Last Name:</b> @ViewBag.LastName <br>
    <b>Date of Birth:</b> @ViewBag.DOB <br>
    <b>Religion:</b> @ViewBag.Religion <br>
    <b>E-mail:</b> @ViewBag.Email <br>
</fieldset>



